@keyframes tick {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .tick {
    animation: tick 0.5s ease forwards;
  }
  